Unzip the package to a web folder (ex. c:\argali will be used in this tutorial)
Open powershell as an admin
Browse to the _ArgaliSRC folder in c:\argali
	.\Argali.exe install Argali powershell -executionpolicy bypass c:\argali\_ArgaliSRC\argali.ps1
	Edit the services log on as and select a <domain\user> (allow log as a service right)
	$newPath= "$((Get-ItemProperty -Path 'Registry::HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Manager\Environment' -Name PATH).Path)"+’;c:\argali\_ArgaliSRC’
	Set-ItemProperty -Path 'Registry::HKEY_LOCAL_MACHINE\System\CurrentControlSet\Control\Session Manager\Environment' -Name PATH –Value $newPath
	gci -recurse c:\argali | unblock-file
restart powershell (all cmd and powershell windows must be closed for path to take affect)
adjust the IPs and Ports in ../modules/argali.ps1 (or whatever modules you wish to have on this... this is where the multiple vertical and horizontal scaling comes in)
start the Argali service