<!doctype html>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/angular.min.js"></script>
    <script src="js/AdminController.js"></script>
  </head>
  <body ng-app="app">
  	<div class="main" ng-controller="AdminController" class="container">
	    <h2>API Test Page</h2>
          <input type="text" ng-model="datacenter" ng-required="false">
          <label>Datacenter</label><br>
          <input type="text" ng-model="module" ng-required="true">
          <label>Module</label><br>
          <input type="text" ng-model="codeset" ng-required="true">
          <label>Codeset</label><br>
          <input type="text" ng-model="arg1" ng-required="false">
          <label>Argument</label><br>
          <div>
            <button class="btn btn-primary" ng-click="loadJson()">LoadContent</button>
            <button class="btn btn-secondary" ng-click="reloadView()">ReloadView</button>
          </div>
          <div ng-repeat="item in scriptStream.output">
            {{ item }}
          </div>
  	</div>
  </body>