<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/angular.min.js"></script>
    <script src="js/Controller.js"></script>
  </head>
  <body ng-app="app">
  	<div class="main" ng-controller="Controller" class="container">
	    <h1>Events</h1>
      <label class="col-sm-2 control-label">Folder Contents</label><br>
          <div ng-repeat="pen in markers.value">
            <br>
            Name: {{ pen.Name }} <br>
            Mode: {{ pen.Mode }} <br>
            Attributes: {{ pen.Attributes }} <br>
            ------------
          </div>
      <div><button class="btn btn-primary" ng-click="loadJson()">LoadContent</button></div>
  	</div>
  </body>