<!doctype html>
<html>
  <head>
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/angular.js"></script>
    <script src="js/Controller.js"></script>
  </head>
  <body ng-app="app">
  	<div class="main" ng-controller="Controller" class="container">
	    <h1>Events</h1>
      <h4>{{ test }}</h4>
	    <hr/>
      <button ng-click="loadJson()">LoadContent</button>
	    <div ng-repeat="pen in markers.value" class="col-md-6">
	      <p>{{ pen.Name }}</p>
	    </div>
	  </div>
  	</div>
  </body>